= form_for @book do |f|
  - if @book.errors.any?
    .alert.alert-danger{role: alert}
      %h4= "#{pluralize(@book.errors.count, "error")}"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :author
    = f.text_field :author, class: 'form-control'
  .form-group
    = f.label :isbn
    = f.text_field :isbn, class: 'form-control'
  .form-group
    = f.label :publisher
    = f.text_field :publisher, class: 'form-control'
  .d-flex.justify-content-between.mt-4
    = link_to 'Back', books_path, class: 'text-danger'
    = f.submit 'Save', class: 'btn btn-primary'
