.row 
  .col-12.col-md-6.offset-md-3
    %h1.mb-4.mt-4.text-center Library index
    .row.mb-4
      .col-12
        %nav.navbar.navbar-expand.navbar-light.bg-light.d-flex.justify-content-between
          .row 
            .col-12.col-lg-4
              = link_to 'Register new book', new_book_path, class: 'btn btn-primary'
            .col-12.col-lg-8
              = form_tag search_books_path, method: :get, class: 'form-inline my-2 my-lg-0' do
                = text_field_tag 'query', nil, class: 'form-control mr-sm-2', type: "search", placeholder: "Search", "aria-label": "Search"

    .list-group
      = render @books
= render 'delete_modal'
= javascript_pack_tag 'modal'